*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.page-header{
  width: 100%;
  height: 60px;
  /* border: 1px solid blue; */
  min-width: 1580px;
  position: relative;
}
.page-logo{
  width: 15%;
  height: 60px;
  /* border: 1px solid yellow; */
  float: left;
  position: relative;
  left: 10%;
}
.page-logo>img{
  width: 100%;
  height: 80%;
  margin-top: 8px;
}
.page-nav{
  width: 61%;
  height: 60px;
  float: left;
  /* border: 1px solid red; */
  margin-left: 15%;
}
.page-nav-list{
  /* width: 10%; */
  height: 60px;
  /* border: 1px solid green; */
  float: left;
  padding-right: 2%;
}
.nav-content{
  display: inline-block;
  /* width: 100%; */
  height: 55px;
  color: #000000;
  font-size: 16px;
  /* border: 1px sloid yellowgreen; */
  line-height: 55px;

}
.page-nav-search{
  float: left;
  line-height: 55px;
  width: 20%;
}
.page-nav-search>input{
  width: 60%;
  height: 25px;
  font-size: 12px;
}
.page-lang{
  line-height: 55px;
}
.page-lang>p>a{
  font-size: 12px;
  margin-right: 5px;
}



/*首页隐藏的部分*/
.page-none{
  width: 100%;
  height: 150px;
  /* border: 1px solid red; */
  position: absolute;
  left: 0;
  top: 54px;
  text-align: center;
  background: rgb(227, 227, 227);
  display: none;
  z-index: 9999;
  opacity: 0.9;
}
.page-none-ul{
  width: 50%;
  height: 150px;
  margin-left: 25%;
  /* text-align: center; */
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}
.page-none-list{
  width: 20%;
  /* float: left; */
}
.computer-nav{
  display: inline-block;
  width: 100%;
  color: #333333;
}
.computer-nav:hover{
  color: #333333;
}
.page-none-list>img{
  width: 100%;
  height: 110px;
}
#none1:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}
#none1:hover .page-none{
  display: block;
}
#none2:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}
#none2:hover .one{
  display: block;
}
#none3:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}
#none3:hover .two{
  display: block;
}

#none4:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}

#none5:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}
#none5:hover .three{
  display: block;
}
#none6:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}

#none7:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}

#none8:hover .nav-content{
  color: #44C1F3 ;
  border-bottom: 3px solid #44C1F3;
}
